<div class="col-lg-4 col-md-offset-4">
<div class="well bs-component">
<legend><h1>RSVP Form</h1></legend>
<%= form_for(@rsvp) do |f| %>
  <% if @rsvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

      <ul>
      <% @rsvp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
      <span>Family Name</span>
      <br>
      <%= f.text_field :fname, class:"form-control", placeholder:"Family Name" %>
      <br>
  </div>

  <div class="field">
      <span>First Name</span>
      <br>
      <%= f.text_field :name, class:"form-control", placeholder:"First Name" %>
      <br>
  </div>
  
  <div class="field">
      <span>Email</span>
      <br>
      <%= f.text_field :email, class:"form-control", placeholder:"Email" %>
      <br>
  </div>
    
  <div class="field">
      <span>Address</span>
      <br>
      <%= f.text_field :address, class:"form-control", placeholder:"Address" %>
      <br>
  </div>
  
  <div class="field">
      <span>Phone Number (without spaces or dashes) </span>
      <br>
      <%= f.telephone_field :number, class:"form-control", placeholder:"Phone Number" %>
      <br>
  </div>
  
  <div class="field">
    <span>Event </span>
    <br>
      <%= f.select :event, [['Reception','Reception'],['Wedding', 'Wedding']] %> 
  </div>
  <br>

  
  <div class="field">
      <span>Number of People Attending </span>
      <br>
      <%= f.number_field :attending, class:"form-control", placeholder:"Number Attending" %>
      <br>
  </div>
  
  <div class="actions">
    <button type="reset" class="btn btn-warning">Clear</button>
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
<% end %>
</div>
</div>