<p id="notice"><%= notice %></p>
<div class="col-lg-10">
<div class="well bs-component">
<h1>Listing Rsvps</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Family Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Event</th>
      <th>Number Attending</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rsvps.each do |rsvp| %>
      <tr>
        <td><%= rsvp.fname %></td>
        <td><%= rsvp.name %></td>
        <td><%= rsvp.email %></td>
        <td><%= rsvp.address %></td>
        <td><%= rsvp.number %></td>
        <td><%= rsvp.event %></td>
        <td><%= rsvp.attending %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Show', rsvp %></td>
          <td><%= link_to 'Edit', edit_rsvp_path(rsvp) %></td>
          <td><%= link_to 'Destroy', rsvp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>


