<p id="notice"><%= notice %></p>

<p>
  <strong>Family Name:</strong>
  <%= @rsvp.fname %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @rsvp.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @rsvp.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rsvp.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @rsvp.number %>
</p>

<p>
  <strong>Event:</strong>
  <%= @rsvp.event %>
</p>


<%= link_to 'Edit', edit_rsvp_path(@rsvp) %> |
<%= link_to 'Back', rsvps_path %>
