<div class="col-lg-5">
<div class="well bs-component">
<p id="notice"><%= notice %></p>

<p>
  <strong>Family Name:</strong>
  <%= @rsvp.fname %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @rsvp.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @rsvp.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rsvp.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= number_to_phone(@rsvp.number, area_code: true)  %>
</p>

<p>
  <strong>Event:</strong>
  <%= @rsvp.event %>
</p>

<p>
  <strong>Number Attending:</strong>
  <%= @rsvp.attending %>
</p>


<%= link_to 'Edit', edit_rsvp_path(@rsvp), class:"btn btn-warning" %>
<% if user_signed_in? %>
  <%= link_to 'Confirm', rsvps_path, class:"btn btn-success" %>
<% end %>
<% if !user_signed_in? %>
  <%= link_to 'Confirm', welcome_index_path, class:"btn btn-success" %>
<% end %>
</div>
</div>