<div class="col-lg-4">
<div class="well bs-component">
<legend><h1>Log In</h1></legend>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="field">
      <span>Email</span>
      <br>
      <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email" %>
      <br>
  </div>
  
  <div class="field">
      <span>Password</span>
      <br>
      <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Password" %>
      <br>
  </div>


  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <span>Remember Me</span>
      <br><br>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-success" %>
  </div>
<% end %>


</div>
</div>
